*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
*::after,
*::before{
  box-sizing:border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.code-wrapper{
  flex: 1;
  height: 50vh;
  padding: 10px;
}
.preview-wrapper{
  flex: 1;
  height: 50vh;
}
#code{
  overflow: hidden;
  height: 100%;
}







